body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.label {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 10px;
    color: #666;
}

input[type="number"], button {
    width: 100%;
    padding: 8px; /* Mindre padding for at reducere størrelsen */
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; /* Passende størrelse så ingen zoom på mobile enheder */
}

input[type="number"]:focus, button:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #369636;
}

#result {
    margin-top: 20px;
    font-size: 16px;
    color: #4CAF50;
    padding: 10px;
    border-radius: 4px;
    background-color: #e7f5ee;
}